<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/account/register">注册</a>&nbsp;&nbsp;
<a href="/account/signin">登录</a>&nbsp;&nbsp;<br/>
<a href="/account/profile"><span th:text="${session?.loginUser?.name}"/></a>&nbsp;
<a href="/account/logout">退出</a>&nbsp;&nbsp;<br/>
<br/><br/>

<a href="/house/list?type=1">房产列表（销售）</a>&nbsp;&nbsp;<a href="/house/list?type=2">房产列表（租房）</a><br/>
<a href="/agency/agentList">经纪人列表</a>&nbsp;&nbsp;<a href="">经纪机构列表</a><br/>
<a href="/house/toAdd">添加房产</a>
<br/><br/><br/>

<b>新上房源</b><br/>
    <span th:each="lis: ${ps.list}">
        照片：<img th:src="${lis.firstImage}" with="100" height="200"><br/>
         <span th:text="${lis.id}"/>,
        <a th:href="@{'/house/detail?houseId=' + ${lis.id}}"><span th:text="${lis.name}"/></a>,
        <span th:text="${lis?.address}"/>,
        <span th:text="${lis?.price}"/>,
        <span th:text="${#dates.format(lis.createTime,'yyyy-MM-dd HH:mm:ss')}"/>,
        <span th:text="${#dates.format(lis.updateTime,'yyyy-MM-dd HH:mm:ss')}"/><br/>
    </span>
</body>